.ddField {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;

  &__label {
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 5px;
  }

  &__select {
    color: #525252;
    font-size: 14px;
    padding: 10px;
  }
}
