.container {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  border: 1px solid #414141;
  border-radius: 4px;
  max-width: 980px;
  margin: 30px auto;
  padding: 0 40px 30px 40px;
}

.question {
  &__wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }

  &__title {
    color: #414141;
    font-size: 18px;
    font-weight: 700;
    padding-bottom: 15px;
  }

  &__button {
    margin-top: 20px;
    padding: 10px;
  }
}
